<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Chango&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
  <script src="https://unpkg.com/phosphor-icons"></script>
  <link rel="stylesheet" href="/css/user/dashboard/style.css">
  <title>Jobs</title>
</head>
<body>
  <header>
    <% if(user) { %>
      <div class="container">
        <a href="/profile" class="username">Hello, <span><%= user.name %></span>👋</a>
        <nav class="nav">
          <ul>
            <li>
              <i class="ph-briefcase-fill"></i>
              <a href="/jobs">jobs</a>
            </li>
            <div class="menu-dropdown">
              <button>more</button>
              <ul class="submenu">
                <% if(user.company.length > 0) { %>
                  <% user.company.forEach((company) => { %>
                    <a href="/company/<%= user.id %>"/>company</a>
                  <% }) %>
                <% } %>
                <a href="/profile">profile</a>
              </ul>
            </div>
            <div class="mobile-option">
              <% if(user.company.length > 0) { %>
                <% user.company.forEach((company) => { %>
                  <li>
                    <i class="ph-buildings-fill"></i>
                    <a href="/company/<%= user.id %>"/>company</a>
                  </li>
                <% }) %>
              <% } %>
              <li>
                <i class="ph-user-circle-gear-fill"></i>
                <a href="/profile">profile</a>
              </li>
            </div>
            <li>
              <i class="ph-sign-out-fill"></i>
              <a href="/logout">logout</a>
            </li>
          </ul>
        </nav>
        <div class="menu">
          <i class="ph-bold ph-list"></i>
        </div>
      </div>
    <% } %>
  </header>
  <main>
    <% if(success_message.length > 0) { %>
      <div class="notification"><span class="message"><%= success_message %></span><i class="ph-bold ph-checks"></i></div>
    <% } %>
    <div class="container">
      <div class="firstBlock">
        <h2>Welcome 💼</h2>
        <h3>Find your dream job now!</h3>
        <a href="/jobs" class="jobs" style="margin-bottom: 20px;">jobs</a>
      </div>
      <div class="secondBlock">
        <img src="/assets/jobs/undraw_done_checking_re_6vyx.svg" alt="" width="100%">
      </div>
    </div>
  </main>
  <footer>
    <div class="container">
      <p>
        &copy; 2022 <a href="https://pt.wikipedia.org/wiki/Direito_autoral">Copyright</a>™ All rights reserved.
      </p>
    </div>
  </footer>
  <script src="/js/menu/main.js"></script>
  <script src="/js/user/dashboard/main.js"></script>
</body>
</html>