* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #147CB7;
    --secondary:#B8C61B;
    --background: #E7E7E7;
    --footer: #343434;
    --border: #a6a6a6;
    --white: #fff;
    --background-message-success: #76e7a5;
    --background-message-error: #e77676;
    --text-message-success: #02703d;
    --text-message-error: #700202;
}

body, html {
    display: flex;
    flex-direction: column;
    
    width: 100%;
    min-height: 100vh;

    background: linear-gradient(to bottom, #0197ff, #78c3ee);
    
    font-family: Sans-Serif;
}

header  {
    width: 100%;
    height: 70px;

    background-color: transparent;
}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    align-items: center;
    margin: 0 auto;

    width: 90%;
    max-width: 1279px;
    min-width: 300px;
    height: 100%;
}

header .container .logo {
    padding: 0px 15px;

    width: auto;
    height: 70%;

    border-left: 5px solid var(--white);
    text-decoration: none;

    font-family: 'Chango', cursive;
    font-size: 2.5em;
    color: var(--white);
    
}

header .container nav {
    display: block;
    padding: 0px 10px;

    width: auto;
    height: 80%;
}
 
header .container nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3em;

    width: 100%;
    height: 100%;

    list-style: none;
}

header .container nav ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3em;
    
    padding: 7px 15px;

    width: auto;
    height: auto;
}

header .container nav ul li i {
    font-size: 1.2em;
    color: var(--white);
}

header .container nav ul a {
    width: 100%;
    height: 100%;
    
    text-decoration: none;

    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    color: var(--white);
}

header .container .menu {
    display: none;
}

main {
    flex: 1;

    margin: auto;

    width: 100%;
    height: 100%;
}

main .container {
    display: flex;
    flex-direction: column;
    gap: 0.3em;

    margin: 60px auto;

    width: 90vw;
    max-width: 500px;
    height: 100%;
}

main .container ul {
    display: flex;
    flex-direction: column;
    gap: 0.9em;

    padding: 10px;

    width: 100%;
    height: auto;

    border: 1px solid var(--border);
    border-radius: 10px;
    background: var(--white);

    list-style: none;
}

main .container ul li {
    display: flex;
    flex-direction: column;
    
    width: 100%;

    font-size: 1em;
    font-weight: bold;
    color: #343434;
}

main .container ul li span {
    font-size: 0.9em;
    color: #8c8c8c;
}

footer {
    width: 100%;
    height: 50px;

    background: var(--footer);
}

footer .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0 auto;

    width: 90%;
    max-width: 1279px;
    min-width: 300px;
    height: 100%;

    font-family: 'Roboto', sans-serif;
}


footer .container p {
    text-align: center;
    font-size: 1em;
    color: #fff;
}

footer .container p a {
    color: #fff;
}

@media(max-width: 600px) {
    header .container .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        font-size: 1.5em;
    }

    header .container nav {
        position: absolute;
        top: 70px;
        right: 0;

        width: 0;
        height: calc(100vh - 70px);
        
        background: linear-gradient(135deg, rgba(1, 151, 255, 0.1), rgba(255, 255, 255, 0));
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        visibility: hidden;
    }

    header .container nav ul {
        display: none;
    }

    header .container .menu {
        display: block;

        position: absolute;
        top: 15px;
        right: 15px;

        width: 40px;
        height: 40px;
    }
    
    header .container .menu i {
      font-size: 2.5em;
      color: var(--white);
    }

    header .container nav.active {
        display: block;
        
        width: 100vw;

        visibility: visible;
    }

    header .container nav.active ul {
        display: flex;
        flex-direction: column;

        padding: 20px 0px;

        width: 100%;
        height: auto;
    }

    header .container nav.active ul li  {

        width: 90%;

        border-bottom: 2px solid var(--white);

        font-size: 1.2em;
        font-weight: bold;
        color: var(--white);
    }
    
    header .container nav.active ul li {
        padding: 10px 0px;
    }

    header .container nav.active ul .login-button {
        border: none;
    }

    footer .container p {
        font-size: 0.7em;
    }
}
