main {
    flex: 1;

    margin: 20px auto;

    width: 100%;
    height: calc(100% - 70px);
}

main .container {
    display: flex;
    flex-direction: column;
    gap: 0.3em;

    margin: auto;

    width: 95vw;
    max-width: 400px;
    height: 100%;
}

main .container .boxProfile {
    display: flex;
    flex-direction: column;
    gap: 0.3em;

    margin: auto;

    width: 100%;

    border-radius: 5px;
    background: transparent;
}

main .container .moreInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;

    margin: auto;

    width: 100%;
}

main .container .moreInfo a {
    display: flex;
    flex-direction: row;
    align-items: center;

    text-decoration: none;
    width: 100%;
    height: 60px;

    border: 1px solid var(--dark-border);
    border-radius: 5px;
    background: var(--light-secondary-background);

    font-size: 1em;
    color: var(--light-text);
}

main .container .moreInfo a div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3em;

    padding: 5px;

    width: 95%;
}

main .container .moreInfo a div i {
    font-size: 1.6em;
}
