<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Chango&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <script src="https://unpkg.com/@phosphor-icons/web"></script>
  <link rel="stylesheet" href="/css/user/register/style.css">
  <link rel="stylesheet" href="/css/footer/style.css">
  <link rel="stylesheet" href="/css/rootColor/style.css">
  <link rel="stylesheet" href="/css/darkTheme/style.css">
  <link rel="stylesheet" href="/css/header/style.css">
  <link rel="stylesheet" href="/css/errorMessage/style.css">
  <title>Jobs</title>
</head>
<body>
  <header>
    <div class="container">
      <a href="/" class="logo">Jobs</a>
      <div class="nav-area">
        <div class="change-color" id="moon">
            <i style="display: none;" class="ph ph-moon"></i>
          </div>
          <nav class="nav">
            <ul>
              <li>
                <i class="ph-fill ph-sign-in"></i>
                <a href="/login">login</a>
              </li>
            </ul>
          </nav>
      </div>
      <div class="menu">
        <i class="ph-bold ph-list"></i>
      </div>
    </div>
  </header>
  <main>
    <div class="container">
      <div class="logo-form">
        <h2>Register</h2>
      </div>
      <form action="/user/register" method="POST">
        <div class="input">
          <label for="username">Username</label>
          <input type="text" name="name" autocomplete="off" required>
          <% if(error_message.length > 0) { %>
            <% for(let i=0;i < error_message.length;i++) { %>
                <% if(error_message[i] == "Name is required." || error_message[i] == "Very short name.") { %>
                    <div class="error_message">
                        <i class="ph-fill ph-warning"></i>
                        <span class="message"><%= error_message[i] %></span>
                    </div>
                <% } %>
            <% } %>
           <% } %>
        </div>
        <div class="input">
          <label for="email">Email</label>
          <input type="email" name="email" placeholder="you@example.com" autocomplete="off" required>
          <% if(error_message.length > 0) { %>
            <% for(let i=0;i < error_message.length;i++) { %>
                <% if(error_message[i] == "Email is required." || error_message[i] == "Email already registered." || error_message[i] == "Invalid email.") { %>
                    <div class="error_message">
                        <i class="ph-fill ph-warning"></i>
                        <span class="message"><%= error_message[i] %></span>
                    </div>
                <% } %>
            <% } %>
           <% } %>
        </div>
        <div class="input">
          <label for="password">Password</label>
          <div class="subInput">
            <input type="password" name="password" class="password" required>
            <i class="ph ph-eye"></i>
          </div>
          <% if(error_message.length > 0) { %>
            <% for(let i=0;i < error_message.length;i++) { %>
                <% if(error_message[i] == "Password at least 8 characters." || error_message[i] == "Password is required.") { %>
                    <div class="error_message">
                        <i class="ph-fill ph-warning"></i>
                        <span class="message"><%= error_message[i] %></span>
                    </div>
                <% } %>
            <% } %>
           <% } %>
        </div>
        <div class="input">
          <label for="confirm-password">Repeat password</label>
          <div class="subInput">
            <input type="password" name="confirmPassword" class="password" autocomplete="off" required>
            <i class="ph ph-eye"></i>
          </div>
          <% if(error_message.length > 0) { %>
            <% for(let i=0;i < error_message.length;i++) { %>
                <% if(error_message[i] == "The passwords did not match." || error_message[i] == "Confirm password is required.") { %>
                    <div class="error_message">
                        <i class="ph-fill ph-warning"></i>
                        <span class="message"><%= error_message[i] %></span>
                    </div>
                <% } %>
            <% } %>
           <% } %>
        </div>
        <button>create registration</button>
      </form>
      <div class="company">
        <p>
          You already have an account? <a href="/login">click here!</a>
        </p>
      </div>
    </div>
  </main>
  <footer>
    <div class="container">
      <p>
        &copy; 2022 <a href="https://pt.wikipedia.org/wiki/Direito_autoral">Copyright</a>™ All rights reserved.
      </p>
    </div>
  </footer>
  <script src="/js/user/register/main.js"></script>
  <script src="/js/menu/main.js"></script>
  <script src="/js/themes/main.js"></script>
  <script src="/js/errorMessage/main.js"></script>
</body>
</html>
