<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Chango&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.6/dayjs.min.js"></script>
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link rel="stylesheet" href="/css/company/push/style.css">
    <title>Jobs</title>
</head>
<body>
     <header>
      <div class="container">
        <a href="/" class="logo">Jobs</a>
        <nav class="nav">
          <ul>
            <% if(user) { %>
               <li>
                    <i class="ph-fill ph-key-return"></i>
                    <a href="/company/<%= user.id %>">back</a>
               </li>
            <% } else { %>
               <li>
                    <i class="ph-fill ph-key-return"></i>
                    <a href="/">back</a>
               </li>
            <% } %>
          </ul>
        </nav>
        <div class="menu">
            <i class="ph ph-list"></i>
        </div>
      </div>
   </header>
   <main>
       <div class="container">
            <ul class="users">
                <li>
                    <% data.map((push) => { %>
                        <% if(push.pushed) { %>
                            <h2><%= push.user.name %></h2>
                        <% } %>
                    <% }) %>
                </li>
            </ul>
        </div>
    </main>
    <footer>
      <div class="container">
        <p>
          &copy; 2022 <a href="https://pt.wikipedia.org/wiki/Direito_autoral">Copyright</a>™ All rights reserved.
        </p>
      </div>
    </footer>
   <script src="/js/post/jobs/main.js"></script>
   <script src="/js/menu/main.js"></script>
</body>
</html>