<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Chango&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.6/dayjs.min.js"></script>
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link rel="stylesheet" href="/css/company/push/style.css">
    <link rel="stylesheet" href="/css/footer/style.css">
    <link rel="stylesheet" href="/css/rootColor/style.css">
    <link rel="stylesheet" href="/css/darkTheme/style.css">
    <link rel="stylesheet" href="/css/header/style.css">
    <title>Jobs</title>
</head>
<body>
     <header>
      <div class="container">
        <a href="/" class="logo">Jobs</a>
        <div class="nav-area">
            <div class="change-color" id="moon">
                <i style="display: none;" class="ph ph-moon"></i>
            </div>
            <nav class="nav">
            <ul>
                <% if(user) { %>
                    <li>
                        <i class="ph-fill ph-key-return"></i>
                        <a href="/company/<%= user.id %>">back</a>
                    </li>
                <% } else { %>
                    <li>
                        <i class="ph-fill ph-key-return"></i>
                        <a href="/">back</a>
                    </li>
                <% } %>
            </ul>
            </nav>
        </div>
        <div class="menu">
            <i class="ph ph-list"></i>
        </div>
      </div>
   </header>
   <main>
       <div class="container">
            <ul class="usersPushed">
                <% data.map((push) => { %>
                    <% if(push.pushed) { %>
                        <li>
                            <i class="ph-light ph-user-circle"></i>
                            <span><%= push.user.name %></span>
                            <i class="ph-fill ph-arrow-fat-up"></i>
                        </li>
                    <% } %>
                <% }) %>
            </ul>
        </div>
    </main>
    <footer>
      <div class="container">
        <p>
          &copy; 2022 <a href="https://pt.wikipedia.org/wiki/Direito_autoral">Copyright</a>™ All rights reserved.
        </p>
      </div>
    </footer>
   <script src="/js/menu/main.js"></script>
   <script src="/js/themes/main.js"></script>
</body>
</html>