<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Chango&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link rel="stylesheet" href="/css/user/profile/changePassword/style.css">
    <title>Jobs</title>
</head>
<body>
    <header>
        <div class="container">
            <a href="" class="logo">Jobs</a>
            <nav class="nav">
              <ul>
                <% if(user) { %>
                   <li>
                        <i class="ph-fill ph-arrow-circle-left"></i>
                        <a href="/profile">back</a>
                   </li>
                <% } else { %>
                   <li>
                        <i class="ph-fill ph-arrow-circle-left"></i>
                        <a href="/">back</a>
                   </li>
                <% } %>
              </ul>
            </nav>
      
            <div class="menu">
                <i class="ph-fill ph-list"></i>
            </div>
          </div>
    </header>
    <main>
        <% if(success_message.length > 0) { %>
            <div class="success_message"><%= success_message %></div>
         <% } %>
         <% for(var i=0;i < error_message.length;i++) { %>
            <div class="error_message"><%= error_message[i] %></div>
         <% } %>
        <div class="container">
            <% if(user) { %>
                <form action="/profile/settings/password/<%= user.id %>" method="POST">
                    <div class="input">
                        <i class="ph ph-lock-simple"></i>
                        <input type="password" name="currentPassword" id="currentPassword" placeholder="Current password" required>
                        <i class="ph ph-lightbulb" id="currentButton"></i>
                    </div>
                        <div class="input">
                        <i class="ph ph-lock-simple"></i>
                        <input type="password" name="newPassword" id="newPassword" placeholder="New password" autocomplete="off" required>
                        <i class="ph ph-lightbulb" id="newButton"></i>
                    </div>
                    <div class="input">
                        <i class="ph ph-lock-simple"></i>
                        <input type="password" name="repeatNewPassword" id="RepeatNewPassword" placeholder="Repeat password" autocomplete="off" required>
                        <i class="ph ph-lightbulb" id="RepeatNewButton"></i>
                    </div>
                    <button>update</button>
                </form>
            <% } %>            
        </div>
    </main>
    <footer>
        <div class="container">
            <p>
              &copy; 2022 <a href="https://pt.wikipedia.org/wiki/Direito_autoral">Copyright</a>™ All rights reserved.
            </p>
          </div>
    </footer>
    <script src="/js/menu/main.js"></script>
    <script src="/js/user/profile/changePassword/main.js"></script>
</body>
</html>