* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #147CB7;
    --secondary: #B8C61B;
    --background: #E7E7E7;
    --footer: #343434;
    --border: #a6a6a6;
    --white: #fff;
    --background-message-success: #76e7a5;
    --background-message-error: #e77676;
    --text-message-success: #02703d;
    --text-message-error: #700202;
}

body, html {
    width: 100%;
    height: 100%;
  
    -webkit-tap-highlight-color: transparent;
    background-color: var(--background);
    background-image: url("/assets/fundo2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 10px 20px;

    width: 400px;
    min-width: 300px;
    height: auto;

    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.container .logoname {
    margin-bottom: 1.5em;
    padding: 10px;

    width: 100px;

    border-bottom: 2px solid var(--white);

    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: var(--white);

}

.container form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    width: 100%;
    height: auto;
}

.container form .input {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;

    padding: 0px 5px;

    width: 100%;
    height: 50px;

    border-bottom: 2px solid var(--white);
    /* border-radius: 9px; */
}

.container form .input i {
  font-size: 1.3em;
  color: var(--white);
}

.container form .input input {
    width: 80%;
    height: 95%;

    outline: transparent;
    border: none;
    background: none;

    font-size: 1em;
    
    color: var(--white);
}

.container form .input input::placeholder {
  color: var(--white);
}

.container form textarea {
    margin: 20px 0px 0px 0px;
    padding: 5px;

    width: 100%;

    outline: transparent;
    border-radius: 3px;
    border: 2px solid var(--white);
    background: transparent;
    
    color: var(--white);
}

.container form textarea::placeholder {
  color: var(--white);
}

.container form button {
    margin: 30px auto 30px 0px;
    padding: 10px 50px;
/* 
    width: 50%;
    height: 40px; */

    outline: transparent;
    border: 1px solid var(--white);
    border-radius: 3px;
    cursor: pointer;
    background: transparent;

    font-size: 1.1em;
    font-weight: bold;
    color: var(--white);
}

.error_message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    position: relative;
    
    margin: 20px auto;
    
    width: 85vw;
    max-width: 400px;
    min-width: 260px;
    height: 50px;
    
    border-radius: 5px;
    background: var(--background-message-error);
  
    font-size: 1.3em;
    font-family: 'Manrope', sans-serif;
    font-weight: 300;
    color: var(--text-message-error);
  }

@media(max-width: 425px) {
    .container {
        width: 350px;
    }
    
    .container .logoname {
      font-size: 0.8em;
    }
}

@media(max-width: 320px) {
    .container {
        width: 290px;
    }
}