<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Chango&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link rel="stylesheet" href="/css/user/profile/home/style.css">
    <title>Jobs</title>
</head>
<body>
  <header>
    <div class="container">
      <a href="" class="logo">Jobs</a>
      <nav class="nav">
        <ul>
          <% if(user) { %>
            <li>
              <i class="ph-fill ph-key-return"></i>
              <a href="/dashboard">back</a>
            </li>
          <% } else { %>
          <li>
            <i class="ph-fill ph-key-return"></i>
            <a href="/">back</a>
          </li>
          <% } %>
        </ul>
      </nav>
      <div class="menu"><i class="ph-bold ph-list"></i></div>
    </div>
  </header>
  <main>
    <div class="container">
      <% if(user) { %>
        <div class="moreInfo">
          <a href="/profile/account">
            <div class="accountInfo">
              <i class="ph-light ph-user-circle-plus"></i>
              Profile details
            </div>
            <i class="ph ph-caret-right"></i>
          </a>
          <% if(user.company.length > 0) { %>
            <% user.company.forEach((company) => { %>
              <a href="/company/<%= user.id %>/<%= company.id %>"/>
                <div class="company">
                  <i class="ph-light ph-buildings"></i>
                  Company details
                </div>
                <i class="ph ph-caret-right"></i>
              </a>
            <% }) %>
          <% } else { %>
            <a href="/company/registration">
              <div class="company">
                <i class="ph-light ph-buildings"></i>
                Register your company
              </div>
              <i class="ph ph-caret-right"></i>
            </a>
          <% } %>
          <a href="/profile/resumes">
              <div class="curriculum">
                <i class="ph-light ph-read-cv-logo"></i>
                Sent resumes
              </div>
              <i class="ph ph-caret-right"></i>
            </a>
          <a href="/profile/settings/password">
            <div class="changePassword">
              <i class="ph-light ph-keyhole"></i>
              Change your password
            </div>
            <i class="ph ph-caret-right"></i>
          </a>
        </div>
      <% } %>
    </div>
  </main>
  <footer>
    <div class="container">
      <p>
        &copy; 2022 <a href="https://pt.wikipedia.org/wiki/Direito_autoral">Copyright</a>™ All rights reserved.
      </p>
    </div>
  </footer>
  <script src="/js/menu/main.js"></script>
</body>
</html>