* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #147CB7;
    --secondary: #B8C61B;
    --background: #E7E7E7;
    --footer: #343434;
    --white: #fff;
}


body, html {
    width: 100%;
    min-height: 100vh;

    background: linear-gradient(to bottom, #028fff, #78c3ee);
    
    font-family: Sans-Serif;
}

header {
    width: 100%;
    height: 70px;

    background-color: transparent;
}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: 0 auto;

    width: 90%;
    max-width: 1279px;
    min-width: 300px;
    height: 100%;

}

header .container .username {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0px 15px;

    width: auto;
    height: 70%;

    text-decoration: none;
    border-left: 5px solid var(--white);
    text-decoration: none;

    font-family: 'Roboto', cursive;
    font-size: 1.3em;
    color: var(--white);
}

header .container nav {
    padding: 0px 10px;

    width: auto;
    height: 80%;
}

header .container nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: 100%;

    list-style: none;

}

header .container nav ul li {
    padding: 7px 15px;

    width: auto;
    height: auto;
}

header .container nav ul li i {
    display: none;
}

header .container nav ul li a {
    text-decoration: none;

    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    color: var(--white);
}

header .container nav ul .menu-dropdown {
    position: relative;
}

header .container nav ul .menu-dropdown button {
    padding: 7px 15px;

    width: auto;
    height: auto;

    outline: transparent;
    border: none;

    background: none;
    text-decoration: none;
    cursor: pointer;

    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    color: var(--white);
}

header .container nav ul .menu-dropdown .submenu {
    position: absolute;
    top: 100%;
    left: 0%;

    display: none;
    flex-direction: column;

    padding: 10px;

    width: 80px;
    height: auto;

    border-radius: 5px;
    border: 1px solid #dbd9d980;
    background: linear-gradient(to top, #028fff, #78c3ee);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: 3s;
}

header .container nav ul .menu-dropdown .submenu a {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 5px;
    padding: 0;

    width: 100%;
    height: 100%;
   
    text-decoration: none;

    font-size: 0.8em;
    color: var(--white);
}

header .container nav ul .menu-dropdown:hover .submenu {
    display: flex;
}

header .container nav ul .mobile-option {
    display: none;
}

main {
    flex-grow: 1;    

    height: calc(100vh - 70px);
}

main .container {
    display: flex;
    flex-direction: column;

    margin: 0 auto;

    width: 90%;
    max-width: 1279px;
    min-width: 300px;
    height: 100%;
}

main .container .pubble {
    display: flex;
    flex-direction: row;

    margin: 100px auto;
    padding: 10px;

    width: 90%;
    min-width: 300px;
    height: 100%;
}

main .container .pubble .phrases {
    width: 50%;
    height: 100%;

}

main .container .pubble .phrases h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    color: #fff;

}

main .container .pubble .phrases h3 {
    margin-bottom: 1.5em;

    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    color: #fff;

}

main .container .pubble .phrases .jobs {
    padding: 5px 10px;

    width: auto;
    height: auto;

    border-bottom: 2px solid var(--white);
    text-decoration: none;

    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    color: #fff;
}

main .container .pubble .illustration-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 100%;

} 

main .container .pubble .illustration-img img {
    margin-bottom: auto;

    width: 70%;
}

footer {
    width: 100%;
    height: 50px;

    background: var(--footer);
}

footer .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0 auto;

    width: 90%;
    max-width: 1279px;
    min-width: 300px;
    height: 100%;

    font-family: 'Roboto', sans-serif;
}

footer .container p {
    text-align: center;
    font-size: 1em;
    color: #fff;
}

footer .container p a {
    color: #fff;
}

header .container .menu {
    display: none;
}

@media(max-width: 600px) {
    header .container .username {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding: 0px 10px;
        
        height: 50%;
        
        border-left: 3px solid var(--white);

        font-size: 1.2em;
    }

    header .container nav {
        position: absolute;
        top: 70px;
        right: 0;

        width: 0;
        height: calc(100vh - 70px);
        
        background: linear-gradient(135deg, rgba(0, 123, 254, 0.1), rgba(255, 255, 255, 0));
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        transition: .6s;
        visibility: hidden;
        z-index: 1000;
    }

    header .container nav ul {
        display: none;
    }

    header .container .menu {
        display: block;

        position: absolute;
        top: 15px;
        right: 15px;

        width: 40px;
        height: 40px;
    }
    
    header .container .menu i {
      font-size: 2.5em;
      color: var(--white);
    }

    header .container nav.active {
        display: block;
        
        width: 100vw;

        transition: .6s;
        visibility: visible;
    }

    header .container nav.active ul {
        display: flex;
        flex-direction: column;

        padding: 20px 0px;

        width: 100%;
        height: auto;
    }

    header .container nav.active ul li {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.3em;

        padding: 7px 0px;

        width: 90%;

        border-bottom: 1px solid #cccccc;

        font-size: 1.2em;
    }

    header .container nav.active ul li i {
        display: flex;

        font-size: 1.3em;
        color: var(--white);
    }

    header .container nav.active ul .menu-dropdown {
        display: none;
    }

    header .container nav.active ul .mobile-option {
        display: flex;
        flex-direction: column;

        margin: auto;

        width: 100%;
    }

    header .container nav.active ul .mobile-option li {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.3em;

        margin: auto;

        padding: 7px 0px;

        width: 90%;

        border-bottom: 1px solid #cccccc;
    }

    main .container .pubble {
        display: flex;
        flex-direction: column;
        align-items: center;


        margin: 20px auto;
        padding: 5px;
    }

    main .container .pubble {
        flex-direction: column;
    }

    main .container .pubble .phrases {
        width: 100%;
        height: 30%;
    }

    main .container .pubble .phrases h2 {
        font-family: 'Roboto', sans-serif;
        color: #fff;

    }

    main .container .pubble .phrases h3 {
        font-family: 'Roboto', sans-serif;
        color: #fff;
    }

    main .container .pubble .phrases .jobs {
        padding: 5px 10px;

        font-family: 'Roboto', sans-serif;
        color: #fff;
    }

    main .container .pubble .illustration-img {
        width: 100%;
        height: 50%;
    }

    main .container .pubble .illustration-img img {
        width: 100%;
        height: 100%;
    }

    footer .container p {
        font-size: 0.7em;
    }
}