main {
    flex: 1;

    margin: 20px auto;

    width: 100%;
    height: calc(100vh - 70px);
}

main .container {
    display: flex;
    flex-direction: row;
    gap: 1em;

    margin: auto;

    width: 95vw;
    max-width: 1279px;
    height: 100%;
}
