<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Chango&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/phosphor-icons"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.6/dayjs.min.js"></script>
    <link rel="stylesheet" href="/css/company/posts/style.css">
    <title>Jobs</title>
</head>
<body>
     <header>
      <div class="container">
        <a href="" class="logo">Jobs</a>
        <nav class="nav">
          <ul>
            <% if(user) { %>
               <li>
                  <i class="ph-arrow-circle-left-fill"></i>
                  <a href="/dashboard">back</a>
               </li>
            <% } else { %>
               <li>
                  <i class="ph-arrow-circle-left-fill"></i>
                  <a href="/">back</a>
               </li>
            <% } %>
          </ul>
        </nav>
  
        <div class="menu">
          <i class="ph-list-fill"></i>
        </div>
      </div>
   </header>
   <main>
       <div class="container">
          <ul class="jobs-menu">
             <% if(data) { %>
                 <h2><%= data.name %></h2>
             <% } %>
            </ul>
        </div>
    </main>
    <footer>
      <div class="container">
        <p>
          &copy; 2022 <a href="https://pt.wikipedia.org/wiki/Direito_autoral">Copyright</a>™ All rights reserved.
        </p>
      </div>
    </footer>
   
   <script src="/js/post/jobs/main.js"></script>
   <script src="/js/menu/main.js"></script>
</body>
</html>