<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Chango&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <script src="https://unpkg.com/@phosphor-icons/web"></script>
  <link rel="stylesheet" href="/css/user/login/style.css">
  <link rel="stylesheet" href="/css/header/style.css">
  <link rel="stylesheet" href="/css/footer/style.css">
  <link rel="stylesheet" href="/css/rootColors/style.css">
  <link rel="stylesheet" href="/css/themeChange/style.css">
  <link rel="stylesheet" href="/css/errorMessage/style.css">
  <title>Jobs</title>
</head>
<body>
  <header>
    <div class="container">
      <a href="/" class="logo">Jobs</a>
      <div class="nav-area">
        <div class="change-color" id="moon">
            <i style="display: none;" class="ph ph-moon"></i>
          </div>
          <nav class="nav">
            <ul>
              <li class="company-button">
                <i class="ph-fill ph-buildings"></i>
                <a href="/company/login">company</a>
              </li>
              <li>
                <i class="ph-fill ph-user-circle"></i>
                <a href="/register">register</a>
              </li>
              <li>
                <i class="ph-fill ph-key-return"></i>
                <a href="/">back</a>
              </li>
            </ul>
          </nav>
      </div>
      <div class="menu">
        <i class="ph-bold ph-list"></i>
      </div>
    </div>
  </header>
  <main>
    <div class="container">
      <div class="logo-form">
        <h2>Login</h2>
      </div>
      <form action="/login" method="POST">
        <div class="input">
          <label for="email">Email</label>
          <input type="email" name="email" class="email-input" autocomplete="off" required>
          <% if(error.length > 0) { %>
              <% if(error == "Check your email or password.") { %>
                  <div class="error_message">
                      <i class="ph-fill ph-warning"></i>
                      <span class="message"><%= error %></span>
                  </div>
              <% } %>
           <% } %>
        </div>
        <div class="input">
          <label for="password">Password</label>
          <div class="subInput">
            <input type="password" name="password" id="password" autocomplete="off" required>
            <i class="ph ph-eye" id="eye-button"></i>
          </div>
        </div>
        <button>sign in</button>
      </form>
      <div class="sign-up">
        <p>
          Not have accaunt? <a href="/register">click here!</a>
        </p>
      </div>
    </div>
  </main>
  <footer>
    <div class="container">
      <p>
        &copy; 2022 <a href="https://pt.wikipedia.org/wiki/Direito_autoral">Copyright</a>™ All rights reserved.
      </p>
    </div>
  </footer>
  <script src="/js/user/login/main.js"></script>
  <script src="/js/menu/main.js"></script>
  <script src="/js/themeChange/main.js"></script>
  <script src="/js/errorMessage/main.js"></script>
</body>
</html>