* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --global-color: #147CB7;
    --global-hover-color: #178bcf;
    --global-header-footer: #161B22;
    --global-white: #fff;
    --global-black: #000;

    --light-primary-background: #fff;
    --light-secondary-background: #F6F8FA;
    --light-text: #413f3f;
    --light-border: #30363D;
    
    --dark-primary-background: #0D1117;
    --dark-secondary-background: #010409;
    --dark-text: #CAD1D9;
    --dark-border: #D0D7DE;

    --background-message-success: #76e7a5;
    --background-message-error: #e77676;
    --text-message-success: #02703d;
    --text-message-error: #700202;
}

body, html {
    -webkit-tap-highlight-color: transparent;
    display: flex;
    flex-direction: column;
    
    width: 100%;
    min-height: 100vh;
    
    background: var(--light-primary-background);

    font-family: 'Roboto', sans-serif;
    color: var(--light-text);
}

header  {
    width: 100%;
    height: 70px;

    background: var(--dark-primary-background);
}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    align-items: center;
    margin: 0 auto;

    width: 95vw;
    max-width: 1279px;
    height: 100%;
}

header .container .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0px 10px;

    width: auto;
    height: 70%;

    border-left: 3px solid var(--global-white);
    text-decoration: none;

    font-family: 'Chango', cursive;
    font-size: 2.5em;
    color: var(--global-white);
    
}

header .container nav {
    display: block;
    padding: 0px 10px;

    width: auto;
    height: 80%;
}
 
header .container nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3em;

    width: 100%;
    height: 100%;

    list-style: none;
}

header .container nav ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3em;
    
    padding: 7px 15px;

    width: auto;
    height: auto;
}

header .container nav ul li i {
    display: none;
}

header .container nav ul a {
    width: 100%;
    height: 100%;
    
    text-decoration: none;
    
    font-size: 1.2em;
    color: var(--global-white);
}

header .container .menu {
    display: none;

    color: var(--global-white);
}

main {
    flex: 1;

    margin: 20px auto;

    width: 100%;
    height: calc(100vh - 70px);
}

main .container {
    display: flex;
    flex-direction: column;

    margin: auto;
    padding: 0px 10px;

    width: 95vw;
    max-width: 600px;
    height: 100%;
}

main .container form {
    display: flex;
    flex-direction: column;
    gap: 1em;

    width: 100%;
    height: auto;
}

main .container form .inputContainer {
    display: flex;
    flex-direction: row;
    gap: 1.2em;
}

main .container form .inputContainer .firstBlock {
    display: flex;
    flex-direction: column;
    gap: 1em;

    width: 50%;
}

main .container form .inputContainer .secondBlock {
    display: flex;
    flex-direction: column;
    gap: 1em;

    width: 50%;
}

main .container form .input {
    display: flex;
    flex-direction: column;
    gap: 0.3em;

    width: 100%;
}

main .container form .input label {
    font-size: 0.9em;
    font-weight: 600;
}

main .container form .input input {
    padding: 10px;

    width: 100%;
    height: 40px;

    border: 1px solid var(--dark-border);
    border-radius: 5px;
    background-color: var(--light-secondary-background);

    font-size: 1em;
    color: var(--light-text);
}

main .container form .input input:focus {
    outline-color: var(--global-color);
}

main .container form .input .subInput {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: 100%;

    border: 1px solid var(--dark-border);
    border-radius: 5px;
    background-color: var(--light-secondary-background);
}

main .container form .input .subInput .select {
    padding: 10px;

    width: 100%;

    outline: transparent;
    border: none;
    background: none;

    font-size: 1em;
}

main .container form .subInput .select option {
    background: var(--global-color);
}

main .container form .input textarea {
    padding: 5px;

    width: 100%;
    height: 150px;

    border-radius: 3px;
    border: 1px solid var(--dark-border);
    background: var(--light-secondary-background);
    
    color: var(--white);
}

main .container form .input textarea::placeholder {
  color: var(--global-white);
}

main .container form .input textarea:focus {
    outline-color: var(--global-color);
}

main .container form button {
    width: 100%;
    height: 40px;

    outline: transparent;
    border: var(--dark-border);
    border-radius: 5px;
    background-color: var(--global-color);
    cursor: pointer;
    
    font-size: 1em;
    font-weight: bold;
    color: var(--global-white);
}

main .container form button:hover {
    background: var(--global-hover-color);
}

footer {
    width: 100%;
    height: 50px;

    background: var(--global-header-footer);
}

footer .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0 auto;

    width: 95vw;
    max-width: 1279px;
    height: 100%;
}

footer .container p {
    text-align: center;
    font-size: 1em;
    color: var(--dark-text);
}

footer .container p a {
    color: var(--dark-text);
}

.error_message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    position: relative;
    
    margin: 20px auto;
    
    width: 85vw;
    max-width: 400px;
    min-width: 260px;
    height: 50px;
    
    border-radius: 5px;
    background: var(--background-message-error);
  
    font-size: 1.3em;
    font-family: 'Manrope', sans-serif;
    font-weight: 300;
    color: var(--text-message-error);
  }



@media(max-width: 600px) {
    header .container .logo {
        font-size: 1.5em;
    }

    header .container nav {
        position: absolute;
        top: 70px;
        right: 0;

        width: 0;
        height: calc(100% - 64px);
        
        visibility: hidden;
        border-left: 1px solid var(--light-border);
        background: var(--light-primary-background);
    }

    header .container nav ul {
        display: none;
    }

    header .container .menu {
        display: block;

        position: absolute;
        top: 15px;
        right: 10px;

        width: 40px;
        height: 40px;
    }
    
    header .container .menu i {
      font-size: 2.5em;
    }

    header .container nav.active {
        display: block;
        
        width: 60vw;

        transition: 0.4s;
        visibility: visible;

        z-index: 1000;
    }

    header .container nav.active ul {
        display: flex;
        flex-direction: column;

        padding: 20px 0px;

        width: 100%;
        height: auto;
    }

    header .container nav.active ul li  {
        padding: 0px;
        
        width: 95%;

        border-bottom: 1px solid var(--light-border);
    }

    header .container nav.active ul li i {
        display: block;
        
        font-size: 1.5em;
    }

    header .container nav.active ul li a {
        padding: 11px 0px;
        
        font-weight: bold;
        color: var(--light-text);
    }

    main .container form .inputContainer {
        flex-direction: column;
    }

    main .container form .inputContainer .firstBlock {
        width: 100%;
    }

    main .container form .inputContainer .secondBlock {
        width: 100%;
    }

    footer .container p {
        font-size: 0.9em;
    }
}