* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #147CB7;
    --secondary:#B8C61B;
    --background: #E7E7E7;
    --footer: #343434;
    --border: #a6a6a6;
    --white: #fff;
}


body {
    display: flex;
    flex-direction: column;

    width: 100%;
    min-height: 100vh;

    background: linear-gradient(to bottom, #0197ff, #78c3ee);
    
    font-family: Sans-Serif;
}

header  {
    width: 100%;
    height: 70px;

    background-color: transparent;
}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    align-items: center;
    margin: 0 auto;

    width: 90%;
    max-width: 1279px;
    min-width: 300px;
    height: 100%;
}

header .container .logo {
    padding: 0px 15px;

    width: auto;
    height: 70%;

    border-left: 5px solid var(--white);
    text-decoration: none;

    font-family: 'Chango', cursive;
    font-size: 2.5em;
    color: var(--white);
    
}

header .container .search-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3em;

    padding: 5px 0px;

    width: 300px;
    height: 40px;

    border-radius: 5px;
    background: var(--white);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

header .container .search-area input {
    outline: transparent;
    border: none;
    background: none;

    width: 90%;

    font-size: 1em;
}

header .container .search-area input::placeholder {
    font-weight: 400;
}

header .container .search-area button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding: 5px;

    outline: transparent;
    border: none;
    border-right: 1px solid var(--border);
    background: none;
    cursor: pointer;

    height: 100%;
}

header .container .search-area button i {
    font-size: 1.5em;
    color: #535252;
}


header .container nav {
    display: block;
    padding: 0px 10px;

    width: auto;
    height: 80%;
}
 
header .container nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3em;

    width: 100%;
    height: 100%;

    list-style: none;
}

header .container nav ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3em;
    
    padding: 7px 15px;

    width: auto;
    height: auto;
}

header .container nav ul li i {
    font-size: 1.2em;
    color: var(--white);
}

header .container nav ul a {
    width: 100%;
    height: 100%;
    
    text-decoration: none;

    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    color: var(--white);
}

header .container nav ul .login-button {
    border: 1px solid var(--white);
    border-radius: 10px;
}

header .container .menu {
    display: none;
}

main {
    flex: 1;

    margin: auto;

    width: 100%;
    height: 100%;
}

main .container {
    display: flex;
    flex-direction: column;

    margin: 50px auto;

    width: 90%;
    max-width: 1279px;
    min-width: 300px;
    height: 100%;
}

main .container .notfound {
    display: none;

    margin: auto;
    padding: 10px;

    width: auto;
    max-width: 400px;
    height: auto;

    border-radius: 10px;
    background: transparent;

    text-align: center;
    word-break: break-all;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.5em;
}

main .container .jobs-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;

    width: 100%;
}

main .container .jobs-menu li {
    padding: 10px 10px 0px 10px;

    width: 50%;
    max-width: 500px;
    min-width: 300px;
    height: auto;
    
    border: 1px solid var(--border);
    border-radius: 10px;
    background-color: var(--white);
    list-style: none;
}

main .container .jobs-menu li h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 2em; 
    font-weight: 400;
    color: var(--primary);
}

main .container .jobs-menu li .company-name {
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 0.2em;
   
    margin-bottom: 1em;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    color: #535252;
}

main .container .jobs-menu li .company-name i {
   color: var(--primary);
}

main .container .jobs-menu li .jobInfo {
    display: flex;
    flex-direction: column;
    gap: 0.1em;

    margin-bottom: 0.8em;

    width: auto;
    height: auto;
}

main .container .jobs-menu li .jobInfo li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    
    padding: 0;
    
    border: none;
    background: none;
    
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

main .container .jobs-menu li .jobInfo li span {
    font-weight: 600;
    color: #535252;
}

main .container .jobs-menu li .text-box {
    display: flex;
    flex-direction: column;
    
    margin-bottom: 0.8em;
}

main .container .jobs-menu li .text-box .description {
    font-size: 0.9em;
    color: #535252;
}

main .container .jobs-menu li .text-box .text {
    margin-bottom: 0.3em;

    height: 100px;

    overflow: hidden;

    text-align: justify;
    word-break: break-all;
    line-height: 1.5em;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

main .container .jobs-menu li .text-box .btn-seeMore {
    margin-left: auto;

    outline: transparent;
    border: none;
    background: none;
    cursor: pointer;

    font-size: 1em;
    color: #535252;
}

main .container .jobs-menu li .want {
    padding: 10px 15px;

    outline: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--primary);

    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: var(--white);
}

main .container .jobs-menu li .functions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  padding: 10px 0px;
  
  width: 100%;
  height: auto;
  
  border-top: 1px solid var(--border);
}

main .container .jobs-menu li .functions .like {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.4em;
  
  width: 50%;
  height: auto;

}

main .container .jobs-menu li .functions .like a {
   display: flex;
   flex-direction: row;
   align-items: center;
   
   text-decoration: none;
   color: #000;
}

main .container .jobs-menu li .functions .like a {
   display: flex;
   flex-direction: row;
   align-items: center;
   
   color: #000;
}

main .container .jobs-menu li .functions .like a .heart-button {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   
   width: 20px;
   height: 20px;
   
   outline: transparent;
   border: none;
   background: none;
   cursor: pointer;
}

main .container .jobs-menu li .functions .like a .heart-button i {
  font-size: 1.5em;
  color: #000;
}

footer {
    margin-top: auto;
    
    width: 100%;
    height: 50px;

    background: var(--footer);
}

footer .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0 auto;

    width: 90%;
    max-width: 1279px;
    min-width: 300px;
    height: 100%;

    font-family: 'Roboto', sans-serif;
}

footer .container p {
    text-align: center;
    font-size: 1em;
    color: #fff;
}

footer .container p a {
    color: #fff;
}

@media(max-width: 600px) {
    header .container .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        font-size: 1.5em;
    }

    header .container .search-area {
        margin: auto;
        margin-left: 15px;

        width: 200px;
        height: 35px;
    }

    header .container .search-area input {
        padding-left: 5px;
        
        font-size: 0.9em;
    }

    header .container .search-area button i {
        font-size: 1.5em;
    }

    header .container nav {
        position: absolute;
        top: 70px;
        right: 0;

        width: 0;
        height: calc(100vh - 70px);
        
        background: linear-gradient(135deg, rgba(1, 151, 255, 0.1), rgba(255, 255, 255, 0));
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        visibility: hidden;
    }

    header .container nav ul {
        display: none;
    }

    header .container .menu {
        display: block;

        position: absolute;
        top: 15px;
        right: 15px;

        width: 40px;
        height: 40px;
    }
    
    header .container .menu i {
      font-size: 2.5em;
      color: var(--white);
    }

    header .container nav.active {
        display: block;
        
        width: 100vw;

        visibility: visible;
    }

    header .container nav.active ul {
        display: flex;
        flex-direction: column;

        padding: 20px 0px;

        width: 100%;
        height: auto;
    }

    header .container nav.active ul li  {

        width: 90%;

        border-bottom: 2px solid var(--white);

        font-size: 1.2em;
        font-weight: bold;
        color: var(--white);
    }
    
    header .container nav.active ul li {
        padding: 10px 0px;
    }

    header .container nav.active ul .login-button {
        border: none;
    }

    main .container {
        width: 350px;
    }

    footer .container p {
        font-size: 0.7em;
    }
}

@media(max-width: 390px) {
    header .container .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        font-size: 1.1em;
    }

    header .container .search-area {
        margin: auto;
        margin-left: 15px;

        width: 180px;
        height: 35px;
    }

    main .container {
        width: 290px;
    }
}