* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --global-color: #147CB7;
    --global-hover-color: #178bcf;
    --global-header-footer: #161B22;
    --global-white: #fff;
    --global-black: #000;

    --light-primary-background: #fff;
    --light-secondary-background: #F6F8FA;
    --light-text: #413f3f;
    --light-border: #30363D;
    
    --dark-primary-background: #0D1117;
    --dark-secondary-background: #010409;
    --dark-text: #CAD1D9;
    --dark-border: #D0D7DE;
}


body, html {
    -webkit-tap-highlight-color: transparent;
    display: flex;
    flex-direction: column;
    
    width: 100%;
    min-height: 100vh;
    
    background: var(--light-primary-background);

    font-family: 'Roboto', sans-serif;
    color: var(--light-text);
}

header  {
    width: 100%;
    height: 70px;

    background: var(--global-header-footer);
}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    align-items: center;
    margin: 0 auto;

    width: 95vw;
    max-width: 1279px;
    height: 100%;
}

header .container .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0px 10px;

    width: auto;
    height: 70%;

    border-left: 3px solid var(--global-white);
    text-decoration: none;

    font-family: 'Chango', cursive;
    font-size: 2.5em;
    color: var(--global-white);
    
}

header .container .search-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2em;

    padding: 5px 0px;

    width: 300px;
    height: 40px;

    border-radius: 5px;
    background: var(--light-secondary-background);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

header .container .search-area input {
    outline: transparent;
    border: none;
    background: none;
    
    padding-right: 0.3em;

    width: 90%;
    height: 100%;

    font-size: 1em;
}

header .container .search-area input::placeholder {
    font-weight: 400;
}

header .container .search-area button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding: 5px;

    outline: transparent;
    border: none;
    border-right: 1px solid var(--dark-border);
    background: none;
    cursor: pointer;

    height: 100%;
}

header .container .search-area button i {
    font-size: 1.5em;
    color: #535252;
}


header .container nav {
    display: block;
    padding: 0px 10px;

    width: auto;
    height: 80%;
}
 
header .container nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3em;

    width: 100%;
    height: 100%;

    list-style: none;
}

header .container nav ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3em;
    
    padding: 7px 15px;

    width: auto;
    height: auto;
}

header .container nav ul li i {
    display: none;
}

header .container nav ul a {
    width: 100%;
    height: 100%;
    
    text-decoration: none;

    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    color: var(--global-white);
}

header .container nav ul .login-button {
    border: 1px solid var(--white);
    border-radius: 10px;
}

header .container .menu {
    display: none;
}

main {
    flex: 1;

    margin: 20px auto;

    width: 100%;
    height: calc(100vh - 70px);
}

main .container {
    display: flex;
    flex-direction: column;

    margin: auto;

    width: 95vw;
    max-width: 1279px;
    height: 100%;
}

main .container .notfound {
    display: none;

    margin: 0 auto;
    padding: 10px;

    width: 95vw;
    max-width: 400px;

    border-radius: 10px;
    background: transparent;

    text-align: center;
    word-break: break-all;
    font-size: 1.5em;
    font-weight: bold;
}

main .container .jobs-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;

    width: 100%;
}

main .container .jobs-menu li {
    padding: 10px 10px 0px 10px;

    width: 100%;
    max-width: 500px;
    
    border: 1px solid var(--dark-border);
    border-radius: 10px;
    background: var(--light-secondary-background);
    list-style: none;
}

main .container .jobs-menu li h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 2em; 
    font-weight: 400;
    color: var(--global-color);
}

main .container .jobs-menu li .company-name {
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 0.2em;
   
    margin-bottom: 1em;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
}

main .container .jobs-menu li .company-name i {
   color: var(--global-color);
}

main .container .jobs-menu li .jobInfo {
    display: flex;
    flex-direction: column;
    gap: 0.3em;

    margin-bottom: 1em;

    width: auto;
    height: auto;
}

main .container .jobs-menu li .jobInfo li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    
    padding: 0;
    
    border: none;
    background: none;
}

main .container .jobs-menu li .jobInfo li .info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2em;
    
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 600;
}

main .container .jobs-menu li .jobInfo li .info i {
    font-size: 1.2em;
}

main .container .jobs-menu li .jobInfo li span {
    background: #e6e6e6;
    
    font-weight: 400;
}

main .container .jobs-menu li .text-box {
    display: flex;
    flex-direction: column;
    
    margin-bottom: 0.8em;
}

main .container .jobs-menu li .text-box .description {
    font-size: 0.9em;
    color: #535252;
}

main .container .jobs-menu li .text-box .text {
    margin-bottom: 0.3em;

    height: 100px;

    overflow: hidden;

    text-align: justify;
    word-break: break-all;
    line-height: 1.5em;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

main .container .jobs-menu li .text-box .btn-seeMore {
    margin-left: auto;

    outline: transparent;
    border: none;
    background: none;
    cursor: pointer;

    font-size: 1em;
    color: #535252;
}

main .container .jobs-menu li .want {
    padding: 10px 15px;

    outline: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: var(--global-color);

    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: var(--global-white);
}

main .container .jobs-menu li .functions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  padding: 10px 0px;
  
  width: 100%;
  
  border-top: 1px solid var(--dark-border);
}

main .container .jobs-menu li .functions .like {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.4em;
  
  width: 50%;
}

main .container .jobs-menu li .functions .like a {
    text-decoration: none;
}

main .container .jobs-menu li .functions .like .like-button {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   
   width: 20px;
   height: 20px;
   
   outline: transparent;
   border: none;
   background: none;
   cursor: pointer;
}

main .container .jobs-menu li .functions .like .like-button i {
  font-size: 1.9em;
  color: var(--light-text);
}

footer {
    width: 100%;
    height: 50px;

    background: var(--global-header-footer);
}

footer .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0 auto;

    width: 95vw;
    max-width: 1279px;
    height: 100%;

    font-family: 'Roboto', sans-serif;
    color: var(--dark-text);
}

footer .container p {
    text-align: center;
    font-size: 1em;
}

footer .container a {
    color: var(--dark-text);
}

@media(max-width: 600px) {
    header .container .logo {
        font-size: 1.5em;
    }

    header .container .search-area {
        margin: auto;
        margin-left: 15px;

        width: 190px;
        height: 35px;
    }

    header .container .search-area input {
        padding-left: 5px;
        
        font-size: 0.9em;
    }

    header .container .search-area button i {
        font-size: 1.5em;
    }

    header .container nav {
        position: absolute;
        top: 70px;
        right: 0;

        width: 0;
        height: calc(100% - 64px);
        
        visibility: hidden;
        border-left: 1px solid var(--light-border);
        background: var(--light-primary-background);
    }

    header .container nav ul {
        display: none;
    }

    header .container .menu {
        display: block;

        position: absolute;
        top: 15px;
        right: 10px;

        width: 40px;
        height: 40px;
    }
    
    header .container .menu i {
      font-size: 2.5em;
      color: var(--global-white);
    }

    header .container nav.active {
        display: block;
        
        width: 60vw;

        transition: 0.4s;
        visibility: visible;
    }

    header .container nav.active ul {
        display: flex;
        flex-direction: column;

        padding: 20px 0px;

        width: 100%;
        height: auto;
    }

    header .container nav.active ul li  {
        padding: 0px;
        
        width: 95%;

        border-bottom: 1px solid var(--light-border);
    }

    header .container nav.active ul li i {
        display: block;
        
        font-size: 1.5em;
    }

    header .container nav.active ul li a {
        padding: 11px 0px;
        
        font-weight: bold;
        color: var(--light-text);
    }

    header .container nav.active ul .login-button {
        border: none;
    }

    footer .container p {
        font-size: 0.9em;
    }
}

@media(max-width: 360px) {
    header .container .logo {
        font-size: 1.1em;
    }

    header .container .search-area {
        margin: auto;
        margin-left: 15px;

        width: 180px;
        height: 35px;
    }
}