<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Chango&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.6/dayjs.min.js"></script>
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link rel="stylesheet" href="/css/user/profile/accountInfo/style.css">
    <title>Jobs</title>
</head>
<body>
    <header>
        <div class="container">
            <a href="/" class="logo">Jobs</a>
            <nav class="nav">
              <ul>
                <% if(user) { %>
                   <li>
                        <i class="ph-fill ph-key-return"></i>
                        <a href="/profile">profile</a>
                   </li>
                <% } else { %>
                   <li>
                        <i class="ph-fill ph-key-return"></i>
                        <a href="/">home</a>
                   </li>
                <% } %>
              </ul>
            </nav>
      
            <div class="menu">
                <i class="ph-bold ph-list"></i>
            </div>
          </div>
    </header>
    <main>
        <div class="container">
            <% if(user) { %>
                <ul>
                    <li>
                        <label for="username">Username</label>
                        <div class="subContainer">
                            <i class="ph ph-user"></i>
                            <span class="username"><%= user.name %></span>
                        </div>
                    </li>
                    <li>
                        <label for="creationdate">Creation date</label>
                        <div class="subContainer">
                            <i class="ph ph-calendar"></i>
                            <span class="date"><%= user.created_at %></span>
                        </div>
                    </li>
                    <li>
                        <label for="email">Email</label>
                        <div class="subContainer">
                            <i class="ph ph-envelope-simple"></i>
                            <span class="username"><%= user.email %></span>
                        </div>
                    </li>
                    <li>
                        <% if(user.company.length > 0) { %>
                            <% user.company.forEach((value) => { %>
                                <label for="company">Company</label>
                                <div class="subContainer">
                                    <i class="ph ph-buildings"></i>
                                    <span class="username"><%= value.company %></span>
                                </div>
                            <% }) %>
                        <% } %>
                    </li>
                </ul>
            <% } %>
        </div>
    </main>
    <footer>
        <div class="container">
            <p>
              &copy; 2022 <a href="https://pt.wikipedia.org/wiki/Direito_autoral">Copyright</a>™ All rights reserved.
            </p>
          </div>
    </footer>
    <script src="/js/menu/main.js"></script>
    <script src="/js/user/profile/accountDetails/main.js"></script>
</body>
</html>