main {
    flex: 1;

    margin: 20px auto;

    width: 100%;
    height: calc(100vh - 70px);
}

main .container {
    display: flex;
    flex-direction: column;

    margin: auto;

    width: 95vw;
    max-width: 1279px;
    height: 100%;
}

main .container .resumes-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;

    width: 100%;
}

main .container .resumes-list li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    max-width: 500px;
    height: 70px;
    
    border: 1px solid var(--dark-border);
    border-radius: 10px;
    background-color: var(--light-secondary-background);
    list-style: none;
}

main .container .resumes-list li .post-info {
    padding: 10px;

    width: 60%;
    height: 100%;
}

main .container .resumes-list li .post-info a {
    text-decoration: none;
}

main .container .resumes-list li .post-info .username {
    font-size: 1.5em; 
    font-weight: 400;
    color: var(--global-color);
}

main .container .resumes-list li .post-info .postVacancy {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2em;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 1em;
    color: var(--light-text);
}

main .container .resumes-list li .post-info .postVacancy i {
   color: var(--global-color);
}

main .container .resumes-list li .resumeOption {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 30%;
    height: 100%;
}

main .container .resumes-list li .resumeOption a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-decoration: none;
}

main .container .resumes-list li .resumeOption .accept {
    background: #65cc90;

    padding: 10px;

    width: 50%;
    height: 100%;
}

main .container .resumes-list li .resumeOption .reject {
    background: #cf6a6a;

    padding: 10px;

    width: 50%;
    height: 100%;

    border-radius: 0px 5px 5px 0px;
}

main .container .resumes-list li .resumeOption a i {
    font-size: 1.5em;
    color: var(--global-white);
}

@media(max-width: 600px) {
    main .container .resumes-list li .resumeOption {
        width: 40%;
    }
}
