* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    -webkit-tap-highlight-color: transparent;
    display: flex;
    flex-direction: column;
    
    width: 100%;
    min-height: 100vh;
    
    background: var(--light-primary-background);

    font-family: 'Roboto', sans-serif;
    color: var(--light-text);
}

header  {
    width: 100%;
    height: 70px;

    background: var(--global-header-footer);
}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    align-items: center;
    margin: 0 auto;

    width: 95vw;
    max-width: 1279px;
    height: 100%;
}

header .container .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0px 10px;

    width: auto;
    height: 70%;

    border-left: 3px solid var(--global-white);
    text-decoration: none;

    font-family: 'Chango', cursive;
    font-size: 2.5em;
    color: var(--global-white);
    
}

header .container nav {
    display: block;
    padding: 0px 10px;

    width: auto;
    height: 80%;
}
 
header .container nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3em;

    width: 100%;
    height: 100%;

    list-style: none;
}

header .container nav ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3em;
    
    padding: 7px 15px;

    width: auto;
    height: auto;
}

header .container nav ul li i {
    display: none;

    font-size: 1.2em;
}

header .container nav ul a {
    width: 100%;
    height: 100%;
    
    text-decoration: none;

    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    color: var(--global-white);
}

header .container .menu {
    display: none;

    color: var(--dark-text);
}

main {
    flex: 1;

    margin: 20px auto;

    width: 100%;
    height: calc(100vh - 70px);
}

@keyframes down {
    from { top: 0px; }
    to { top: 100px; }
}

main .container {
    display: flex;
    flex-direction: column;

    margin: auto;

    width: 95vw;
    max-width: 1279px;
    height: 100%;
}

main .container .resumes-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;

    width: 100%;
}

main .container .resumes-list li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    max-width: 500px;
    height: 70px;
    
    border: 1px solid var(--dark-border);
    border-radius: 10px;
    background-color: var(--light-secondary-background);
    list-style: none;
}

main .container .resumes-list li .post-info {
    padding: 10px;

    width: 60%;
    height: 100%;
}

main .container .resumes-list li .post-info a {
    text-decoration: none;
}

main .container .resumes-list li .post-info .username {
    font-size: 1.5em; 
    font-weight: 400;
    color: var(--global-color);
}

main .container .resumes-list li .post-info .vacancy {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2em;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 1em;
    color: var(--light-text);
}

main .container .resumes-list li .post-info .vacancy i {
   color: var(--global-color);
}

main .container .resumes-list li .option {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 30%;
    height: 100%;
}

main .container .resumes-list li .option a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-decoration: none;
}

main .container .resumes-list li .option .accept {
    background: #65cc90;

    padding: 10px;

    width: 50%;
    height: 100%;
}

main .container .resumes-list li .option .reject {
    background: #cf6a6a;

    padding: 10px;

    width: 50%;
    height: 100%;

    border-radius: 0px 5px 5px 0px;
}

main .container .resumes-list li .option a i {
    font-size: 1.5em;
    color: var(--global-white);
}

@media(max-width: 600px) {
    header .container .logo {
        font-size: 1.5em;
    }

    header .container nav {
        position: absolute;
        top: 70px;
        right: 0;

        width: 0;
        height: calc(100% - 70px);

        visibility: hidden;
        border-left: 1px solid var(--light-border);
        background: var(--light-primary-background);
    }

    header .container nav ul {
        display: none;
    }

    header .container .menu {
        display: block;

        position: absolute;
        top: 15px;
        right: 10px;

        width: 40px;
        height: 40px;
    }
    
    header .container .menu i {
      font-size: 2.5em;
      color: var(--global-white);
    }

    header .container nav.active {
        display: block;
        
        width: 60vw;

        transition: 0.4s;
        visibility: visible;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    header .container nav.active ul {
        display: flex;
        flex-direction: column;

        padding: 20px 0px;

        width: 100%;
        height: auto;
    }

    header .container nav.active ul li  {
        padding: 0px;
        
        width: 95%;

        border-bottom: 1px solid var(--light-border);
    }
    
    header .container .nav.active ul li a {
        padding: 11px 0px;
        
        font-weight: bold;
        color: var(--light-text);
    }

    header .container .nav.active ul li i {
        display: block;
        
        font-size: 1.5em;
    }

    main .container .resumes-list li .option {
        width: 40%;
    }
}
