main {
    flex: 1;

    margin: 20px auto;

    width: 100%;
    height: calc(100vh - 70px);
}

main .container {
    display: flex;
    flex-direction: column;

    margin: auto;

    width: 95vw;
    max-width: 1279px;
    height: 100%;
}


main .container .notfound {
    margin: 0 auto;
    padding: 10px;

    width: 95vw;
    max-width: 400px;

    border-radius: 10px;
    background: transparent;

    text-align: center;
    word-break: break-all;
    font-size: 1.5em;
    font-weight: bold;

    color: var(--light-text);
}

main .container .resumes-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;

    width: 100%;
}

main .container .resumes-list li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: relative;

    width: 100%;
    max-width: 500px;
    height: auto;
    
    border: 1px solid var(--dark-border);
    border-radius: 10px;
    background-color: var(--light-secondary-background);
    list-style: none;
}

main .container .resumes-list li .post-info {
    padding: 10px;

    width: 50%;
    height: 100%;
}

main .container .resumes-list li .post-info a {
    width: 100%;
    height: auto;

    text-decoration: none;
}

main .container .resumes-list li .post-info a .vacancy {
    font-size: 1.5em; 
    font-weight: 400;
    color: var(--global-color);
}

main .container .resumes-list li .post-info a .company-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2em;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 1em;
    color: var(--light-text);
}

main .container .resumes-list li .post-info a .company-name i {
   color: var(--global-color);
}

main .container .resumes-list li .result {
    display: flex;
    flex-direction: flex;
    justify-content: right;

    width: 50%;
    height: 69px;
}

main .container .resumes-list li .result .resume-status {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 0.5em;

    position: absolute;
    left: 25%;

    width: 60%;
    height: 100%;
}

main .container .resumes-list li .result  .resume-status span  {
    font-size: 1em;
}


main .container .resumes-list li .result .resume-status i {
    font-size: 1.5em;
    color: var(--light-text);
}

main .container .resumes-list li .result .option-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.2em;

    position: relative;
    
    width: 40%;
    height: 100%;
}

main .container .resumes-list li .result .option-area .dots {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  
    position: absolute;
    top: 9%;
    left: 65%;
    
    padding: 5px;
    
    border: 1px solid var(--dark-border);
    border-radius: 5px;
    cursor: pointer;
    
    color: var(--light-text);
}

main .container .resumes-list li .result .option-area .submenu {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.2em;

    position: relative;
    top: 50%;
    left: -10%;

    padding: 8px 4px;

    width: 115px;
    min-width: 115px;
    height: auto;

    border: 1px solid var(--dark-border);
    border-radius: 5px;
    background: var(--light-secondary-background);
}

main .container .resumes-list li .result .option-area .submenu li {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    gap: 0.3em;

    padding: 3px;

    width: 50%;

    border: none;
    border-radius: 0;
}


main .container .resumes-list li .result .option-area .submenu li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 5px;

    width: 100%;

    border: 1px solid var(--dark-border);
    border-radius: 5px;
    background: var(--light-primary-background);

    text-decoration: none;
    color: var(--light-text);
}

main .container .resumes-list li .result .option-area .submenu li a i {
    font-size: 1.1em;
}

main .container .resumes-list li .result .option-area .submenu::before {
    content: "";
    position: absolute;
    top: 0%;
    left: 85%;
    transform-origin: 0 0;
    transform: rotate(45deg) translate(-50%, -50%);

    width: 10px;
    height: 10px;

    border: 1px solid var(--dark-border);
    border-bottom-color: transparent;
    border-right-color: transparent;
    background: var(--light-secondary-background);
}

main .container .resumes-list li .result .option-area .submenu.active {
    display: flex;

    z-index: 500;
}

@media(max-width: 600px) {
    header .container nav.active {
        z-index: 1000;
      }

    main .container .resumes-list li .result .option-area .dots {
        left: 60%;
    }

    main .container .resumes-list li .result .option-area .submenu {
        top: 60%;
        left: -20%;
    }
}