<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Chango&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/phosphor-icons"></script>
    <link rel="stylesheet" href="/css/home/about/style.css">
    <title>Jobs</title>
</head>
<body>
    <header>
        <div class="container">
          <a href="" class="logo">Jobs</a>
          <nav class="nav">
            <ul>
                <li>
                    <i class="ph-fill ph-arrow-circle-left"></i>
                    <a href="/">back</a>
                </li>
            </ul>
          </nav>
          <div class="menu">
            <i class="ph-list-fill"></i>
          </div>
        </div>
    </header>
    <main>
        <div class="container">
            <h2>O site é voltado para pessoas que querem encontrar seu emprego dos sonhos com facilidade na hora da busca.</h2>
            <h2>O portfólio foi inspirado nos diversos sites de buscas por empregos que facilita a vida de muitas pessoas de forma simples e gratuita.</h2>
            <ul>
                <li>
                    <p>Tecnologia</p>
                    <span>Nodejs - Typescript</span>
                </li>
                <li>
                    <p>API</p>
                    <span>express</span>
                </li>
                <li>
                    <p>Database</p>
                    <span>mysql</span>
                </li>
                <li>
                    <p>Template</p>
                    <span>ejs</span>
                </li>
                <li>
                    <p>Dependências</p>
                    <span>body-parser</span>
                    <span>typeorm</span>
                    <span>bcryptjs</span>
                    <span>zod</span>
                    <span>passport</span>
                    <span>passport-local</span>
                    <span>express-session</span>
                    <span>connect-flash</span>
                </li>
            </ul>
        </div>
    </main>
    <footer>
        <div class="container">
          <p>
            &copy; 2022 <a href="https://pt.wikipedia.org/wiki/Direito_autoral">Copyright</a>™ All rights reserved.
          </p>
        </div>
      </footer>
      <script src="/js/menu/main.js"></script>
</body>
</html>