<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Chango&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <script src="https://unpkg.com/phosphor-icons"></script>
  <link rel="stylesheet" href="/css/home/style.css">
  <title>Jobs</title>
</head>
<body>
  <header>
    <div class="container">
      <a href="" class="logo">Jobs</a>
      <nav class="nav">
        <ul>
          <a href="/login" target="__blank">sign in</a>
          <a href="/register" target="__blank">sign up</a>
        </ul>
      </nav>

      <div class="menu">
        <i class="ph-list-fill"></i>
      </div>
    </div>
  </header>
  <main>
    <div class="container">
      <div class="pubble">
        <div class="phrases">
          <h2>Are you in need of a job?</h2>
          <h3>Welcome to the right place!</h3>
          <a href="/jobs" class="jobs" style="margin-bottom: 20px;">find it now</a>
        </div>
        <div class="illustration-img">
          <img src="assets/jobs/Approved.svg" alt="" width="100%">
        </div>
      </div>
    </div>
  </main>
  <footer>
    <div class="container">
      <p>
        &copy; 2022 <a href="https://pt.wikipedia.org/wiki/Direito_autoral">Copyright</a>™ All rights reserved.
      </p>
    </div>
  </footer>

  <script src="/js/menu/main.js"></script>
</body>
</html>