header .container .company-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3em;

    padding: 0px 10px;

    width: auto;
    height: 70%;

    text-decoration: none;
    border-left: 3px solid var(--global-white);
    text-decoration: none;

    font-size: 1.3em;
    font-weight: 600;
    color: var(--global-white);
}


main {
    flex: 1;

    margin: 20px auto;

    width: auto;
    height: calc(100vh - 70px);
}

main .container {
    display: flex;
    flex-direction: row;
    gap: 1em;

    margin: auto;

    width: 95vw;
    max-width: 1279px;
    height: auto;
}

main .container .firstBlock {
    display: flex;
    flex-direction: column;

    width: 50%;
}

main .container .firstBlock .companyStatus {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.7em;

    width: 100%;
    
    overflow: hidden;
    list-style: none;
}

main .container .firstBlock .companyStatus li {
    width: 200px;
    height: 70px;

    border: 1px solid var(--dark-border);
    border-radius: 5px;
    background: var(--light-secondary-background);
    float: left;
}

main .container .firstBlock .companyStatus li a {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: 100%;

    text-decoration: none;
    color: var(--light-text);
}

main .container .firstBlock .companyStatus li a .illustration {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 30%;
    height: 100%;
  
    border-radius: 5px 0px 0px 5px;
    background: #cceeff;
}

main .container .firstBlock .companyStatus li a .illustration i {
    font-size: 1.3em;
    color: #0099e6;
}

main .container .firstBlock .companyStatus li a .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 60%;
    height: 100%;
}

main .container .firstBlock .companyStatus li a .info .value {
    font-weight: 600;
}
  
main .container .firstBlock .companyStatus li a .info p {
    font-size: 0.7em;
}

main .container .secondBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50%;
}

main .container .secondBlock img {
    width: 100%;
}

@media(max-width: 600px) {
    header .container .company-name {
        font-size: 1.2em;
    }

    main .container {
        flex-direction: column;
    }

    main .container .firstBlock {
        width: 100%;
    }

    main .container .firstBlock .companyStatus {
        grid-template-columns: 1fr;

        width: 100%;
    }

    main .container .firstBlock .companyStatus li {
        width: 100%;
    }

    main .container .firstBlock .companyStatus li a .illustration {
        width: 40%;
    }
    
    main .container .firstBlock .companyStatus li a .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        width: 60%;
        height: 100%;
    }
    
    main .container .firstBlock .companyStatus li a .info .value {
        font-size: 1.3em;
        font-weight: 600;
    }
  
    main .container .firstBlock .companyStatus li a .info p {
        font-size: 0.8em;
    }

    main .container .secondBlock {
        width: 100%;
        height: 100%;
    }

    main .container .secondBlock img {
        width: 100%;
        height: 100%;
    }
}