* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --global-color: #147CB7;
    --global-hover-color: #178bcf;
    --global-header-footer: #161B22;
    --global-white: #fff;
    --global-black: #000;

    --light-primary-background: #fff;
    --light-secondary-background: #F6F8FA;
    --light-text: #413f3f;
    --light-border: #30363D;
    
    --dark-primary-background: #0D1117;
    --dark-secondary-background: #010409;
    --dark-text: #CAD1D9;
    --dark-border: #D0D7DE;
}


body, html {
    display: flex;
    flex-direction: column;
    
    width: 100%;
    min-height: 100vh;
    
    background: var(--light-primary-background);

    font-family: 'Roboto', sans-serif;
    color: var(--light-text);
}

header {
    width: 100%;
    height: 70px;

    background-color: var(--global-header-footer);
}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: 0 auto;

    width: 95vw;
    max-width: 1279px;
    height: 100%;
}

header .container .company-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3em;

    padding: 0px 10px;

    width: auto;
    height: 70%;

    text-decoration: none;
    border-left: 3px solid var(--global-white);
    text-decoration: none;

    font-size: 1.3em;
    font-weight: 600;
    color: var(--global-white);
}

header .container nav {
    padding: 0px 10px;

    width: auto;
    height: 80%;
}

header .container nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: 100%;

    list-style: none;

}

header .container nav ul li {
    padding: 7px 15px;

    width: auto;
    height: auto;
}

header .container nav ul li a {
    text-decoration: none;

    font-size: 1em;
    color: var(--global-white);
}

header .container nav ul li i {
    display: none;
}

main {
    flex: 1;

    margin: 20px auto;

    width: auto;
    height: calc(100vh - 70px);
}

main .container {
    display: flex;
    flex-direction: row;
    gap: 1em;

    margin: auto;

    width: 95vw;
    max-width: 1000px;
    height: auto;
}

main .container .firstBlock {
    display: flex;
    flex-direction: column;

    width: 50%;
}

main .container .firstBlock .postInfo {
    margin-bottom: 0.5em;
    
    width: 50%;
}

main .container .firstBlock .postInfo h2 {
    font-size: 2em;
}

main .container .firstBlock ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.7em;

    width: 100%;
    
    overflow-x: auto;
    list-style: none;
}


main .container .firstBlock ul::-webkit-scrollbar {
    width: 0px;
}

main .container .firstBlock ul::-webkit-scrollbar-track {
    background: transparent;
}


main .container .firstBlock ul::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
}

main .container .firstBlock ul li {
    width: 200px;
    height: 70px;

    border: 1px solid var(--dark-border);
    border-radius: 5px;
    background: var(--light-secondary-background);
}

main .container .firstBlock ul li a {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: 100%;

    text-decoration: none;
    color: var(--light-text);
}

main .container .firstBlock ul li a .illustration {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 30%;
    height: 100%;
  
    border-radius: 5px 0px 0px 5px;
    background: #cceeff;
}

main .container .firstBlock ul li a .illustration i {
    font-size: 1.3em;
    color: #0099e6;
}

main .container .firstBlock ul li a .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 60%;
    height: 100%;
}

main .container .firstBlock ul li a .info .value {
    font-weight: 600;
}
  
main .container .firstBlock ul li a .info p {
    font-size: 0.7em;
}

main .container .secondBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50%;

}

main .container .secondBlock img {
    width: 80%;
}

footer {
    width: 100%;
    height: 50px;

    background: var(--global-header-footer);
}

footer .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0 auto;

    width: 95vw;
    max-width: 1279px;
    height: 100%;

    font-family: 'Roboto', sans-serif;
}

footer .container p {
    text-align: center;
    font-size: 1em;
    color: var(--dark-text);
}

footer .container p a {
    color: var(--dark-text);
}

header .container .menu {
    display: none;
}

.success_message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 95px;
    left: 50%;

    transform: translate(-50%, -50%);
    
    width: 85vw;
    max-width: 400px;
    min-width: 260px;
    height: 50px;
    
    border-radius: 5px;
    background: var(--background-message-success);
    animation: message_down 0.6s;
  
    font-size: 1.3em;
    font-family: 'Manrope', sans-serif;
    font-weight: 300;
    color: var(--text-message-success);
}

.error_message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 95px;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 85vw;
    max-width: 400px;
    min-width: 260px;
    height: 50px;

    border-radius: 5px;
    background: var(--background-message-error);
    animation: message_down 0.6s;

    font-size: 1.3em;
    font-family: 'Manrope', sans-serif;
    font-weight: 300;
    color: var(--text-message-error);
}

@keyframes message_down {
    from { left: 0%; }
    to { left: 50%; }
}

@media(max-width: 600px) {
    header .container .company-name {
        font-size: 1.2em;
    }

    header .container nav {
        position: absolute;
        top: 70px;
        right: 0;

        width: 0;
        height: calc(100% - 64px);

        visibility: hidden;
        border-left: 1px solid var(--light-border);
        background: var(--light-primary-background);
    }

    header .container nav ul {
        display: none;
    }

    header .container .menu {
        display: block;

        position: absolute;
        top: 15px;
        right: 10px;

        width: 40px;
        height: 40px;
    }
    
    header .container .menu i {
      font-size: 2.5em;
      color: var(--global-white);
    }

    header .container nav.active {
        display: block;
        
        width: 60vw;

        transition: 0.4s;
        visibility: visible;
    }

    header .container nav.active ul {
        display: flex;
        flex-direction: column;

        padding: 20px 0px;

        width: 100%;
        height: auto;
    }

    header .container nav.active ul li {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.3em;
        
        padding: 0px 0px;

        width: 95%;

        border-bottom: 1px solid var(--light-border);
    }

    header .container nav.active ul li i {
        display: flex;

        font-size: 1.5em;
    }

    header .container nav.active ul li a {
        padding: 11px 0px;
        
        width: 100%;
        
        font-size: 1.2em;
        font-weight: bold;
        color: var(--light-text);
    }

    main .container {
        flex-direction: column;
    }

    main .container .firstBlock {
        width: 100%;
    }

    main .container .firstBlock ul {
        flex-direction: column;

        width: 100%;
    }

    main .container .firstBlock ul li {
        width: 100%;
    }
    

    main .container .firstBlock .postInfo h2 {
        font-size: 1.5em;
    }

    main .container .firstBlock ul li a .illustration {
        width: 40%;
    }
    
    main .container .firstBlock ul li a .illustration i {
        font-size: 1.7em;
    }
    
    main .container .firstBlock ul li a .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        width: 60%;
        height: 100%;
    }
    
    main .container .firstBlock ul li a .info .value {
        font-size: 1.3em;
        font-weight: 600;
    }
  
    main .container .firstBlock ul li a .info p {
        font-size: 0.8em;
    }

    main .container .secondBlock {
        width: 100%;
        height: 100%;
    }

    main .container .secondBlock img {
        width: 100%;
        height: 100%;
    }

    footer .container p {
        font-size: 0.9em;
    }
}