* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #147CB7;
    --secondary: #B8C61B;
    --background: #E7E7E7;
    --footer: #343434;
    --white: #fff;
    --background-message-success: #76e7a5;
    --background-message-error: #e77676;
    --text-message-success: #02703d;
    --text-message-error: #700202;
}


body, html {
    -webkit-tap-highlight-color: transparent;
    display: flex;
    flex-direction: column;

    width: 100%;
    min-height: 100vh;

    background: linear-gradient(to bottom, #0197ff, #78c3ee);

    font-family: 'Roboto', sans-serif;
    font-size: 100%;
}

header {
    width: 100%;
    height: 70px;

    background-color: transparent;
}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: 0 auto;

    width: 90%;
    max-width: 1279px;
    min-width: 300px;
    height: 100%;

}

header .container .company-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0px 10px;

    width: auto;
    height: 70%;

    text-decoration: none;
    border-left: 5px solid var(--white);
    text-decoration: none;

    font-size: 1.3em;
    font-weight: bold;
    color: var(--white);
}

header .container nav {
    padding: 0px 10px;

    width: auto;
    height: 80%;
}

header .container nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: 100%;

    list-style: none;

}

header .container nav ul li {
    padding: 7px 15px;

    width: auto;
    height: auto;
}

header .container nav ul li a {
    text-decoration: none;

    font-size: 1em;
    color: var(--white);
}

header .container nav ul li i {
    display: none;
}

main {
    flex: 1;

    margin: auto;

    width: auto;
    height: calc(100vh - 70px);
}

main .container {
    display: flex;
    flex-direction: column;

    margin: auto;

    width: 90%;
    max-width: 1279px;
    min-width: 300px;
    height: 100%;
}

main .container .pubble {
    display: flex;
    flex-direction: row;

    margin: 100px auto;
    padding: 10px;

    width: 90%;
    min-width: 300px;
    height: 60%;
}

main .container .pubble .status {
    padding: 10px;

    width: 50%;
  }

main .container .pubble .status h2 {
    margin-bottom: 0.5em;
    height: auto;

    font-family: 'Varela Round', sans-serif;
    font-size: 2.5em;
    color: #fff;
}

main .container .pubble .status ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.7em;

    width: 100%;
    
    overflow-x: auto;
    list-style: none;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}


main .container .pubble .status ul::-webkit-scrollbar {
    width: 0px;
}

main .container .pubble .status ul::-webkit-scrollbar-track {
    background: transparent;
}


main .container .pubble .status ul::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
}

main .container .pubble .status ul li {
    width: 30%;
    height: 70px;

    border-radius: 5px;
    background: #fff;
}

main .container .pubble .status ul li a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;

    padding: 20px 10px;

    width: 100%;
    height: 100%;

    text-decoration: none;
}

main .container .pubble .status ul li a .illustration {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 30%;
    height: 40px;
  
    border-radius: 5px;
    background: #cceeff;
}

main .container .pubble .status ul li a .illustration i {
    font-size: 1.3em;
    color: #0099e6;
}

main .container .pubble .status ul li a .info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .container .pubble .status ul li a .info .value {
    font-weight: bold;
    color: #000;
}
  
main .container .pubble .status ul li a .info p {
    font-size: 0.7em;
    color: #808080;
}

main .container .pubble .illustration-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: auto;

    width: 50%;
    height: 100%;
}

main .container .pubble .illustration-img img {
    margin-bottom: auto;

    width: 90%;
}

footer {
    width: 100%;
    height: 50px;

    background: var(--footer);
}

footer .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0 auto;

    width: 90%;
    max-width: 1279px;
    min-width: 300px;
    height: 100%;

    font-family: 'Roboto', sans-serif;
}

footer .container p {
    text-align: center;
    font-size: 1em;
    color: #fff;
}

footer .container p a {
    color: #fff;
}

header .container .menu {
    display: none;
}

.success_message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    position: relative;
    
    margin: 20px auto;
    
    width: 85vw;
    max-width: 400px;
    min-width: 260px;
    height: 50px;
    
    border-radius: 5px;
    background: var(--background-message-success);
    animation: message_down 0.6s;
  
    font-size: 1.3em;
    font-family: 'Manrope', sans-serif;
    font-weight: 300;
    color: var(--text-message-success);
}

.error_message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;

    margin: 20px auto;

    width: 85vw;
    max-width: 400px;
    min-width: 260px;
    height: 50px;

    border-radius: 5px;
    background: var(--background-message-error);
    animation: message_down 0.6s;

    font-size: 1.3em;
    font-family: 'Manrope', sans-serif;
    font-weight: 300;
    color: var(--text-message-error);
}

@keyframes message_down {
    from { margin: 0 auto };
    to { margin: 40px auto }
}

@media(max-width: 600px) {
    header .container .username {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding: 0px 10px;
        
        height: 50%;
        
        border-left: 3px solid var(--white);

        font-size: 1em;
    }

    header .container nav {
        position: absolute;
        top: 70px;
        right: 0;

        width: 0;
        height: calc(100vh - 70px);
        
        background: linear-gradient(135deg, rgba(1, 151, 255, 0.1), rgba(255, 255, 255, 0));
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        visibility: hidden;
        z-index: 1000;
    }

    header .container nav ul {
        display: none;
    }

    header .container .menu {
        display: block;

        position: absolute;
        top: 15px;
        right: 15px;

        width: 40px;
        height: 40px;
    }
    
    header .container .menu i {
      font-size: 2.5em;
      color: var(--white);
    }

    header .container nav.active {
        display: block;
        
        width: 100vw;

        visibility: visible;
    }

    header .container nav.active ul {
        display: flex;
        flex-direction: column;

        padding: 20px 0px;

        width: 100%;
        height: auto;
    }

    header .container nav.active ul li {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.3em;
        
        padding: 0px 0px;

        width: 95%;

        border-bottom: 2px solid var(--white);
    }

    header .container nav.active ul li i {
        display: flex;

        font-size: 1.5em;
        color: var(--white);
    }

    header .container nav.active ul li a {
        padding: 11px 0px;
        
        width: 100%;
        
        font-size: 1.2em;
        font-weight: bold;
        color: var(--white);
    }

    main .container .pubble {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin: 30px auto;
        padding: 5px;
    }

    main .container .pubble .status {
        width: 100%;
        height: auto;
    }

    main .container .pubble .status ul {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-bottom: 30px;

        width: 100%;
        height: auto;
    }

    main .container .pubble .status h2 {
        text-align: center;
        font-size: 1.5em;
        color: #fff;
    }

    main .container .pubble .status ul li {
        width: 90%;
    }

    main .container .pubble .status ul li a {
        gap: 4em;
    }

    main .container .pubble .status ul li a .illustration {
        width: 40%;
    }
    
    main .container .pubble .status ul li a .info .value {
        font-size: 1.3em;
        font-weight: bold;
        color: #000;
    }
  
    main .container .pubble .status ul li a .info p {
        font-size: 0.8em;
        color: #808080;
    }

    main .container .pubble .illustration-img {
        width: 100%;
        height: auto;
    }

    main .container .pubble .illustration-img img {
        width: 100%;
        height: 100%;
    }

    footer .container p {
        font-size: 0.7em;
    }
}